.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header */
header {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". logo . lobby rooms wtw info net . user .";
  background-color: rgba(255, 255, 255, 0.884);
  width: 100vw;
  justify-content: end;
  align-items: center;
  padding: 1rem;
  color: rgb(65, 65, 65);
}

header img {
  grid-area: logo;
}

.lobby {
  grid-area: lobby;
}
.rooms {
  grid-area: rooms;
}
.wtw {
  grid-area: wtw;
}
.info {
  grid-area: info;
}
.net {
  grid-area: net;
}
.user-card {
  grid-area: user;
}

/* Main */

main {
  color: #fff;
  background: url("assets/Desktop-Best-Background-Images.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "img1 . ."
    "text1 img2 ."
    "img3 img4 .";
  padding: 1rem;
  gap: 2rem;
}

.img1 {
  grid-area: img1;
}

.text {
  grid-area: text1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}

/* Info */

.info {
  padding: 3rem 0 3rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "user-info . lazy1"
    "main-img lorem lazy2"
    "main-img lorem lazy3";
  justify-items: start;
  gap: 1rem;
}

.user-info {
  grid-area: user-info;
}

.main-img {
  grid-area: main-img;
}

.lorem {
  grid-area: lorem;
}

.lazy1 {
  grid-area: lazy1;
}
.lazy2 {
  grid-area: lazy2;
}
.lazy3 {
  grid-area: lazy3;
}

/* List */
.list {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.list-title {
  padding: 3rem;
}

.list-item {
  background-color: #d6e2f98b;
  width: 100%;
  /* margin: 1rem 0; */
  border-radius: 0.3rem;
  display: flex;
  /* padding: 1rem; */
}

.item-disp {
  font-size: 9px;
}

.item-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subtitle {
  font-size: 5px;
}
/* 
.lorem-title {
  padding-left: 2rem;
} */
